Repository plentiau/terraform-plenti-iam: changes, and which Atlantis projects are due for each by the changed paths.
All: platform-ops-automation-legacy-production, platform-ops-automation-plentiau-test, platform-ops-automation-plentiau-production

atlantis.yaml:

version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - dir: legacy-production/platform-ops-automation
    name: platform-ops-automation-legacy-production
    apply_requirements: [mergeable, approved]
    terraform_version: v1.9.5
    autoplan:
      enabled: true
      when_modified: ["**/*.tf", "*.hcl"]
  - dir: plentiau-test/platform-ops-automation
    name: platform-ops-automation-plentiau-test
    apply_requirements: [mergeable, approved]
    terraform_version: v1.9.5
    autoplan:
      enabled: true
      when_modified: ["**/*.tf", "*.hcl"]
  - dir: plentiau-production/platform-ops-automation
    name: platform-ops-automation-plentiau-production
    apply_requirements: [mergeable, approved]
    terraform_version: v1.9.5
    autoplan:
      enabled: true
      when_modified: ["**/*.tf", "*.hcl"]

Add platform-ops-automation in test and production accounts (#2)
  atlantis.yaml
  plentiau-production/platform-ops-automation/backend.tf
  plentiau-production/platform-ops-automation/iam.tf
  plentiau-production/platform-ops-automation/providers.tf
  plentiau-test/platform-ops-automation/backend.tf
  plentiau-test/platform-ops-automation/iam.tf
  plentiau-test/platform-ops-automation/providers.tf
Due: platform-ops-automation-plentiau-test, platform-ops-automation-plentiau-production

Allow start instance refresh
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Allow start instance refresh (#3)
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Allow update secret values
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Allow update secret values (#4)
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Update module version
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Update module version (#5)
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Increase maximum session duration
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Increase maximum session duration (#6)
  legacy-production/platform-ops-automation/iam.tf
Due: platform-ops-automation-legacy-production

Setup IAM role for Microservice rerun consumer failures and prime unconsumed event
  atlantis.yaml
  legacy-production/DevOps/backend.tf
  legacy-production/DevOps/iam.tf
  legacy-production/DevOps/local.tf
  legacy-production/DevOps/providers.tf
Due: none

Setup IAM role for Microservice rerun consumer failures and prime unconsumed event (#7)
  atlantis.yaml
  legacy-production/DevOps/backend.tf
  legacy-production/DevOps/iam.tf
  legacy-production/DevOps/local.tf
  legacy-production/DevOps/providers.tf
Due: none

Setup IAM roles for UAT and Production Monitor
  atlantis.yaml
  legacy-production/ProductionMonitor/backend.tf
  legacy-production/ProductionMonitor/iam.tf
  legacy-production/ProductionMonitor/local.tf
  legacy-production/ProductionMonitor/providers.tf
Due: none

Setup IAM roles for UAT and Production Monitor (#8)
  atlantis.yaml
  legacy-production/ProductionMonitor/backend.tf
  legacy-production/ProductionMonitor/iam.tf
  legacy-production/ProductionMonitor/local.tf
  legacy-production/ProductionMonitor/providers.tf
Due: none

chore: Add ECR pull permissions for UAT and Production Monitor IAM roles
  legacy-production/ProductionMonitor/iam.tf
Due: none

chore: Add ECR pull permissions for UAT and Production Monitor IAM roles (#9)
  legacy-production/ProductionMonitor/iam.tf
Due: none

feat: Allow decrypt KMS key
  legacy-production/ProductionMonitor/iam.tf
Due: none

feat: Allow decrypt KMS key (#10)
  legacy-production/ProductionMonitor/iam.tf
Due: none

feat: Setup new IAM role for ServiceConfiguration
  atlantis.yaml
  legacy-production/ServiceConfiguration/backend.tf
  legacy-production/ServiceConfiguration/iam.tf
  legacy-production/ServiceConfiguration/local.tf
  legacy-production/ServiceConfiguration/providers.tf
Due: none

feat: Setup new IAM role for ServiceConfiguration (#11)
  atlantis.yaml
  legacy-production/ServiceConfiguration/backend.tf
  legacy-production/ServiceConfiguration/iam.tf
  legacy-production/ServiceConfiguration/local.tf
  legacy-production/ServiceConfiguration/providers.tf
Due: none

feat: Allow decrypt KMS key
  legacy-production/ServiceConfiguration/iam.tf
Due: none

feat: Allow decrypt KMS key (#12)
  legacy-production/ServiceConfiguration/iam.tf
Due: none

feat: Setup IAM roles for regular monitor workflows
  legacy-production/DevOps/iam.tf
Due: none

feat: Setup IAM roles for regular monitor workflows (#13)
  legacy-production/DevOps/iam.tf
Due: none

chore: Add KMS decrypt permissions
  legacy-production/DevOps/iam.tf
Due: none

chore: Add KMS decrypt permissions (#14)
  legacy-production/DevOps/iam.tf
Due: none

chore: Add S3 permissions
  legacy-production/DevOps/iam.tf
Due: none

chore: Add S3 permissions (#15)
  legacy-production/DevOps/iam.tf
Due: none

feat: Setup pipeline IAM roles for ApiDoc repo
  atlantis.yaml
  legacy-production/ApiDoc/backend.tf
  legacy-production/ApiDoc/iam.tf
  legacy-production/ApiDoc/local.tf
  legacy-production/ApiDoc/providers.tf
Due: none

feat: Setup pipeline IAM roles for ApiDoc repo (#16)
  atlantis.yaml
  legacy-production/ApiDoc/backend.tf
  legacy-production/ApiDoc/iam.tf
  legacy-production/ApiDoc/local.tf
  legacy-production/ApiDoc/providers.tf
Due: none

feat: Setup pipeline IAM roles for ProcessAutomation repo
  atlantis.yaml
  legacy-production/ProcessAutomations/backend.tf
  legacy-production/ProcessAutomations/iam.tf
  legacy-production/ProcessAutomations/local.tf
  legacy-production/ProcessAutomations/providers.tf
Due: none

feat: Setup pipeline IAM roles for ProcessAutomation repo (#17)
  atlantis.yaml
  legacy-production/ProcessAutomations/backend.tf
  legacy-production/ProcessAutomations/iam.tf
  legacy-production/ProcessAutomations/local.tf
  legacy-production/ProcessAutomations/providers.tf
Due: none

feat(DEVOPS-238): Add IAM role for Venus build termination workflow
  atlantis.yaml
  legacy-production/Venus/backend.tf
  legacy-production/Venus/iam.tf
  legacy-production/Venus/local.tf
  legacy-production/Venus/providers.tf
Due: none

Update legacy-production/Venus/iam.tf
  legacy-production/Venus/iam.tf
Due: none

feat(DEVOPS-238): Add IAM role for Venus build termination workflow (#18)
  atlantis.yaml
  legacy-production/Venus/backend.tf
  legacy-production/Venus/iam.tf
  legacy-production/Venus/local.tf
  legacy-production/Venus/providers.tf
Due: none

feat: Setup pipeline role for venus-database-maintenance-stored-procs
  atlantis.yaml
  legacy-production/venus-database-maintenance-stored-procs/backend.tf
  legacy-production/venus-database-maintenance-stored-procs/iam.tf
  legacy-production/venus-database-maintenance-stored-procs/local.tf
  legacy-production/venus-database-maintenance-stored-procs/providers.tf
Due: none
